[Unit]
Description=API Vistoria (Flask + Gunicorn)
After=network.target

[Service]
User=pedrosantos
WorkingDirectory=/home/pedrosantos/projetos/SistemVistoria_V3/API
Environment="PATH=/home/pedrosantos/projetos/SistemVistoria_V3/venv/bin"
ExecStart=/home/pedrosantos/projetos/SistemVistoria_V3/venv/bin/gunicorn -w 2 --threads 2 --timeout 120 -b 127.0.0.1:5000 app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

